h1 {
    text-align: left;
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
    background-color: blueviolet;
    color: white;
}

h3{
    text-align: right;
    background-color: cornflowerblue;
    color: black;
}